@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1534px) {
  .container {
    max-width: 1279px;
  }
}

@media (max-width: 1535px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1279px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1023px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 640px;
  }
}
@media (max-width: 639px) {
  .container {
    max-width: 580px;
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

ymaps {
  -webkit-filter: grayscale(100%);
  width: 100%;
}

.text-behind {
  letter-spacing: 1.5vw;
  line-height: 191px;
  left: -4%;
  top: calc(50% - 191px / 2);
  width: 100vw;
  white-space: nowrap;
  font-weight: 500;
  font-size: 9vw;
  font-style: normal;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.12) -0.06%,
    rgba(141, 141, 141, 0) 100.06%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  position: absolute;
  overflow: hidden;
  z-index: 10;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #020202;
  padding-top: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #161618;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2e2e35;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../public/fonts/SF-Pro/SF-Pro-Display-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../public/fonts/SF-Pro/SF-Pro-Display-Thin.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../public/fonts/SF-Pro/SF-Pro-Display-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../public/fonts/SF-Pro/SF-Pro-Display-ThinItalic.otf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../public/fonts/SF-Pro/SF-Pro-Display-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../public/fonts/SF-Pro/SF-Pro-Display-MediumItalic.otf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../public/fonts/SF-Pro/SF-Pro-Display-LightItalic.otf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../public/fonts/SF-Pro/SF-Pro-Display-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../public/fonts/SF-Pro/SF-Pro-Display-BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../public/fonts/SF-Pro/SF-Pro-Display-BlackItalic.otf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../../public/fonts/SF-Pro/SF-Pro-Display-Black.otf");
  font-weight: 900;
  font-style: normal;
}

.dot{
  position:absolute;
  top: -13px;
  left:50%;
  transform: translateX(-50%);
  width:30px;
  height:30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sun{
  width:85%;
  height:85%;
  position:absolute;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  animation-name:orbit;
  animation-duration:30s;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}
.sun-min{
  width: 65%;
  height: 65%;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  animation-name:orbit-min;
  animation-duration:17s;
}
@keyframes orbit { 
from { transform:rotate(0deg) } 
to { transform:rotate(360deg) } 
}
@keyframes orbit-min { 
  from { transform:rotate(360deg) } 
  to { transform:rotate(0deg) } 
  }

.circle-lg{
  width: 105%;
  max-width: 105%;
  height: 105%;
}

.swiper-pagination{
  position: relative !important;
  bottom: 0 !important;
}
